<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rekomendasi Resep Makanan</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 30px;
    }
  </style>
</head>

<body style="display: flex; justify-content: center; align-items: center; height: 880px;">
  <div style="justify-items: center; align-items: center;">
    <h1>Rekomendasi Menu Makanan Berdasarkan Bahan</h1>
    <form method="post" action="/">
      <label>Masukkan bahan masakan (pisahkan dengan koma):</label><br>
      <input type="text" name="bahan" style="width: 400px;" required>
      <button type="submit">Cari Resep</button>
    </form>
  </div>
</body>

</html>
